ai_pr
CA 1/.idea/CA 1.iml
CA 1/.idea/misc.xml
CA 1/.idea/modules.xml
CA 1/.idea/vcs.xml
CA 1/.idea/workspace.xml
CA 1/.idea/inspectionProfiles/profiles_settings.xml
CA 1/.idea/inspectionProfiles/Project_Default.xml
CA 1/.idea/.gitignore
qenv/
